body {
    background-color: #282c34;
    color: #eee;
}

.container {
    text-align: center;
}

header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

canvas {
    border: 1px solid #eee;
}
